
.loadingBro {
    margin: 50px auto;
    width: 150px;

    >h1 {
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 1em;
        font-weight: 300;
        color: #8E8E8E;
    }
}

.load {
    width: 150px !important;
    animation: loading 3s linear infinite !important;

    .loadingInner {
        stroke: {
            dashoffset: 0;
            dasharray: 300;
            width: 10;
            miterlimit: 10;
            linecap: round;
        }

        animation: loadingCircle 2s linear infinite;
        stroke: #2597F3;
        fill: transparent;
    }
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loadingCircle {
    0% {
        stroke-dashoffset: 0
    }

    100% {
        stroke-dashoffset: -600;
    }
}