.container {
    // display: flex !important;
    // flex-direction: row !important;
    // align-items: center;
    // justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

    .instructions {
        p {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 42px;

            color: #505457;
        }
    }
}