$primary:#2597F3;

.button {

    background: $primary;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 20px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: none;
    border: none;
    vertical-align: baseline;
    color: #FFFFFF;
    margin: 0em 0.25em 0em 0em;
    padding: 0.5em 1.5em;
   
}

.fluid {
    width: 100%;
}